form {
  max-width: 600px;
  width: 100%;
  margin: 100px auto;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.form--header {
  font-size: 18px;
  text-align: center;
}
.input--form {
    margin-bottom: 20px;
}
.input--form > label {
    display: block;
    margin: 10px 0;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.911);
}
.input--form > input {
    width: 100%;
    padding: 15px 10px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #CA82FF;
    font-weight: 18px;
}
.button--div {
    text-align: center;
}
.form--button {
    padding: 15px 10px;
    width: 250px;
    margin: 10px auto;
    background-color: #CA82FF;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 0.15em;
    cursor: pointer;   
}
.form--button:hover{
    border: 3px solid #fff;
}
.input--text {
    text-align: center;
    margin: 10px 0;
}
.navigation--button {
    width: 100px;
    background-color: #CA82FF;
    border: 1px solid white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    color: white;
}